html
  body
    #header.header-container.fallback
      .header-text
        .container
          h1
            | Hello, I'm
            strong Kevin Vandenborne
            | .
            br
            | I'm a
            strong web developer
            |  passionate about everything related to web.
          p
            | I develop
            strong websites and applications
            |  primarily in
            strong PHP
            | . Programming is my hobby and job, but I also enjoy fiddling around with hardware and cycling.
          p
            | Want to know what I'm working on? Take a look at my
            a(href='https://github.com/veloxy') Github
            |  page. Or follow me on
            a(href='https://twitter.com/Veloxy') Twitter
            | .
      .cta
        a.btn.btn-lg.btn-contact(href='mailto:kevin@sourcebox.be') Contact me
