section.info
  .row
    .item
      .image
        i.icon-code
      .text
        h3 About
        p I'm a 28 year old guy living in Sint-Truiden, Belgium.
        p I've been programming for over 12 years, with 4 years professional experience.
    .item
      .image
        i.icon-wrench
      .text
        h3 Work
        p
          | I've been enjoying my job as lead backend developer at
          =" "
          a(href='http://www.yappa.be') Yappa
          =" "
          | since 2011.
        p
          | I'm not looking for freelance work at this time. But don't hesitate to
          =" "
          a(href='mailto:hello@sourcebox.be') contact me
          | , you never know!
