section.info
  .row
    .item
      .image
        i.icon-code
      .text
        h3 About
        p I'm a 28 year old guy living in Sint-Truiden, Belgium.
        p I've been programming for over 12 years, with 4 years professional experience.
    .item
      .image
        i.icon-wrench
      .text
        h3 Work
        p
          | I'm currently working at
          =" "
          a(href='http://www.yappa.be') Yappa
          | .
        p
          | I'm not available for freelance work at the moment. But you can
          =" "
          a(href='mailto:hello@sourcebox.be') contact me
          |  anyway, you never know!
