section.info
  .row
    .item
      .image
        i.icon-code
      .text
        h3 About
        p I specialize in backend development but I'm generally an all-rounder, which means I'm quite capable of frontend development and setting up servers.
        p When I'm not coding, chances are I'm riding my racebike or playing around with hardware and devices.
    .item
      .image
        i.icon-wrench
      .text
        h3 Work
        p
          | I've been enjoying my job as lead backend developer at
          =" "
          a(href='http://www.yappa.be') Yappa
          |  where I build websites ranging from small landing pages to large webshops, and web applications.
        p
          | I'm not looking for freelance work at this time, but
          =" "
          a(href='mailto:hello@sourcebox.be') contact me
          =" "
          | anyway, you never know!
