section.skills
  h2 Skills
  .col-md-6.col-sm-12.col-xs-12
    h2 Backend
    table.table
      tr
        td.title Languages:
        td.skills
          span.label.label-default PHP
          | &nbsp;
          span.label.label-default.medium NodeJS
          | &nbsp;
      tr
        td.title Frameworks:
        td.skills
          span.label.label-default CakePHP
          | &nbsp;
          span.label.label-default.medium Laravel
          | &nbsp;
          span.label.label-default.medium Zend
          | &nbsp;
          span.label.label-default.medium Express
          | &nbsp;
          span.label.label-default.medium Silex
          | &nbsp;
          span.label.label-default.low Symfony*
          | &nbsp;
      tr
        td.title Testing:
        td.skills
          span.label.label-default PHPUnit
          | &nbsp;
          span.label.label-default Behat
          | &nbsp;
          span.label.label-default TravisCI
          | &nbsp;
          span.label.label-default.medium PHPCI
          | &nbsp;
      tr
        td.title Server:
        td.skills
          span.label.label-default Apache2
          | &nbsp;
          span.label.label-default Nginx
          | &nbsp;
          span.label.label-default Ubuntu
          | &nbsp;
          span.label.label-default Debian
          | &nbsp;
          span.label.label-default.medium Ansible
          | &nbsp;
      tr
        td.title Database:
        td.skills
          span.label.label-default MariaDB
          | &nbsp;
          span.label.label-default MySQL
          | &nbsp;
          span.label.label-default MongoDB
          | &nbsp;
          span.label.label-default Oracle
          | &nbsp;
      tr
        td.title Version control:
        td.skills
          span.label.label-default GIT
          | &nbsp;
          span.label.label-default SVN
          | &nbsp;
  .col-md-6.col-sm-12.col-xs-12
    h2 Frontend
    table.table
      tr
        td.title Styling:
        td.skills
          span.label.label-default LESS
          | &nbsp;
          span.label.label-default SASS
          | &nbsp;
          span.label.label-default CSS3
          | &nbsp;
      tr
        td.title Javascript:
        td.skills
          span.label.label-default jQuery
          | &nbsp;
          span.label.label-default SocketIO
          | &nbsp;
          span.label.label-default.medium Polymer
          | &nbsp;
          span.label.label-default.medium Angular
          | &nbsp;
      tr
        td.title HTML:
        td.skills
          span.label.label-default Jade
          | &nbsp;
          span.label.label-default HTML5
          | &nbsp;
