section.blog-post
  article
    header
      h2 Blog item
      time(datetime="2015-11-17 13:02") 2015-11-17 13:02
      p
        | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
      footer
        a(href="/blog/post.html") Read more &rarr;
  article
    header
      h2 Blog item
      time(datetime="2015-11-17 13:02") 2015-11-17 13:02
      p
        | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
      footer
        a(href="/blog/post.html") Read more &rarr;
  article
    header
      h2 Blog item
      time(datetime="2015-11-17 13:02") 2015-11-17 13:02
      p
        | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
      footer
        a(href="/blog/post.html") Read more &rarr;
  article
    header
      h2 Blog item
      time(datetime="2015-11-17 13:02") 2015-11-17 13:02
      p
        | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
      footer
        a(href="/blog/post.html") Read more &rarr;
