section.blog-overview
  article
    header
      h2
        a(href="#") Blog item
      time(datetime="2015-11-17 13:02") 17 Nov 2015
    p
      | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
    a(href="/blog/post.html") Read more &rarr;
  article
    header
      h2
        a(href="#") Blog item
      time(datetime="2015-11-17 13:02") 17 Nov 2015
    p
      | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
    a(href="/blog/post.html") Read more &rarr;
  article
    header
      h2
        a(href="#") Blog item
      time(datetime="2015-11-17 13:02") 17 Nov 2015
    p
      | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
    a(href="/blog/post.html") Read more &rarr;
  article
    header
      h2
        a(href="#") Blog item
      time(datetime="2015-11-17 13:02") 17 Nov 2015
    p
      | Nor was Ahab unmindful of another thing. In times of strong emotion mankind disdain all base considerations; but such times are evanescent.
    a(href="/blog/post.html") Read more &rarr;

  nav
    ul.pagination-lg.pagination
      li
        a(href='#', aria-label='Previous')
          span(aria-hidden='true') «
      li
        a(href='#') 1
      li.active
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#', aria-label='Next')
          span(aria-hidden='true') »

