doctype html
html(lang="en")
  head
    include ./elements/header.jade
  body
    include ./elements/navigation.jade
    include ./elements/home.jade
    include ./elements/footer.jade

    script(src='js/main.min.js')