doctype html
html(lang="en")
  head
    include ../elements/header.jade
  body
    include ../elements/navigation.jade
    include ../elements/general/header.jade

    include ../elements/blog/post.jade

    include ../elements/footer.jade

    script(src='/js/main.min.js')