footer
  .container
    .col-md4
      .footer-text
        | © 2015
        =" "
        a(href='mailto:hello@sourcebox.be')
          |  Kevin Vandenborne
      .footer-icons
        a(href='https://twitter.com/Veloxy')
          span.icon-twitter
        a(href='https://github.com/veloxy')
          span.icon-github
        a(href='https://www.linkedin.com/in/kevinvandenborne')
          span.icon-linkedin