footer.footer
  .container
    .footer-icons
      a(href='https://twitter.com/Veloxy')
        span.icon-twitter
      a(href='https://github.com/veloxy')
        span.icon-github
      a(href='https://www.linkedin.com/in/kevinvandenborne')
        span.icon-linkedin
    .footer-text
      | Copyright © 2015
      =" "
      a(href='mailto:hello@sourcebox.be')
        |  Kevin Vandenborne
      .hosted-by
        | Hosted by
        =" "
        a(href='https://m.do.co/c/e8eb7f0a0e55')
          span.host
