nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-left
      ul.nav.navbar-nav.navbar-social
        li
          a(href='https://twitter.com/Veloxy')
            span.icon-twitter
        li
          a(href='https://github.com/veloxy')
            span.icon-github
        li
          a(href='https://www.linkedin.com/in/kevinvandenborne')
            span.icon-linkedin
    #menu.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav
        li.active
          a(href='#')
            | Home
            span.sr-only (current)
        li
          a(href='#') Blog
        li
          a(href='mailto:kevin@sourcebox.be') Contact
