.footer {
  background-color: @primary-shadow-color;

  .container {
    padding-bottom: 20px;
  }

  .footer-text {
    text-align: center;
    margin: 30px 0 30px 0;
    color: @primary-text-color;

    a {
      display: inline-block;
      margin-left: 4px;
      border-bottom: 1px dashed @primary-text-color;
      color: #FFF;
      &:hover {
        text-decoration: none;
        background-color: lighten(@primary-shadow-color, 20%);
      }
    }

    .hosted-by {
      margin: 10px 0;
      a {
        border-bottom: none;
        .host {
          background-image: url("https://cdn.sourcebox.be/img/do.png");
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          height: 20px;
          width: 126px;
          margin: -5px 0;
        }
      }
    }
  }

  .footer-icons {
    margin: 50px 0 20px 0;
    text-align: center;

    a {
      &:hover {
        text-decoration: none;
        color: @secondary-color;
      }

      font-size: 20px;
      color: @primary-text-color;
      margin: 20px;
    }
  }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .footer .footer-text .hosted-by a .host {
    background-image: url("https://cdn.sourcebox.be/img/do@2x.png");
    background-size: contain;
  }
}
