.header-container {
  background-color: @primary-color;
  position: relative;

  &.fallback {
    background-image: url('../img/header.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  canvas {
    position: absolute;
    background-color: @primary-color;
  }

  .header-text {
    width: 100%;
    color: @primary-text-color;

    padding: 40px 0 100px;

    .container {
      position: relative;
      z-index: 99
    }

    h1 {
      margin-bottom: 60px;
      font-size: 60px;
      font-family: @font-name-header;
      animation: fadein 1s forwards;
      animation-delay: .2s;
      opacity: 0;
    }

    p {
      color: @primary-text-color-secondary;
      font-size: 24px;
      margin-top: 30px;
      opacity: 0;

      animation: fadein 1s forwards;
      animation-delay: .6s;

      strong {
        color: @primary-text-color
      }

      a {
        display: inline-block;
        border-bottom: 1px dashed @primary-text-color;
        color: #FFF;
        &:hover {
          text-decoration: none;
          background-color: @primary-shadow-color;
        }
      }
    }
  }

  &.header-small {

    &.fallback {
      background-image: url('../img/header.jpg');
      background-position: center bottom;
      background-size: 120%;
      background-repeat: no-repeat;
    }

    .header-text {
      padding: 20px 0 20px;

      h1 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
      }
    }

    border-bottom: 4px solid @secondary-color;
  }
}

@media (max-width: @screen-sm-min) {
  .header-container .header-text {
    h1 {
      font-size: 40px;
    }
  }
}