/* Colors */
@primary-color: #3F51B5;
@primary-text-color: #FFFFFF;
@primary-text-color-secondary: #C5CAE9;
@primary-highlight-color: #5C6BC0;
@primary-shadow-color: #303F9F;

/* Fonts */
@font-name-header: "Roboto Thin";
@font-name-text: "Roboto Regular";